body {
    font-family: 'Arial', 'Helvetica neue', Helvetica, sans-serif;
    background: url('hip-square.png')
    
}

#page {
    margin: 0;
}

header {
    background: #ffffff;
    border: #777777;
    font-family: 'Georgia', 'Times New Roman', Times, serif

}

#name {
    background: #4aaaa5;
    padding: 10px;
    color: white;
    width: 150px;
    position: relative;
    left: 200px;
    text-align: center;
}


#navigation ul
{
    margin: 0;
    padding: 0;
    float: right;
    padding: 30px;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}


#navigation li:not(:first-child):before {
    content: " | ";
}


.bar {
    border-left: 3px solid #838280;
    width: 60px;
}

.content {
    box-sizing: border-box;
    background: #ffffff;
    width: 960px;
    margin: 0 auto;
    
}

.Aboutme {
    background: #ffffff;
    width: 620px;
    border: #dddddd;
    float: left;
    color: #777777;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;

}

#about {
    color: #4aaaa5;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contentbar {
	background: #dddddd;
	height: 3px;
	margin: 30px 0 20px 0;
}

#profilepic {
    height: 220px;
    width: 180px;
    float: left;
    
}

.connectlinks {
    width: 250px;
    background: #ffffff;
    float: right;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #dddddd;
    margin-top: 35px;

}

#connect {
    clear: both;
    color: #4aaaa5;

}

#connectline {
	background: #dddddd;
	height: 2.5px;
	margin: 20px;
}

#linkedin {
    width: 50px;
    height: 40px;

}

#github {
    width: 50px;
    height: 40px;
}

#stackoverflow { 
    width: 50px;
    height: 40px;
}

img {
    outline: none;
}

footer {
    clear: both;
    background: #666666;
    color: white;
    font-size: 11px;
    text-align: center;
    height: 20px;
    padding: 25px;
    border-top: 5px solid #4aaaa5;
}


/* Selectors for contact.html */

#contact {
    /* styling contact header */
    color: #4aaaa5;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contactinfo {
    /* styling all contents within contact box */
    background: #ffffff;
    width: 620px;
    border: #dddddd;
    float: left;
    color: #777777;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: left;
}